.header {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}

.character-indicator {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.character-indicator__name-container {
  align-items: baseline;
  display: flex;
  gap: 8px;
}

.character-indicator__name {
  font-weight: 700;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.character-indicator__image-container {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;
  border: solid 2px var(--blue-4, #f5f5f5);
}

.character-indicator__image {
  width: inherit;
}

.character-indicator__change-character {
  font-family: Inter;
  font-style: normal;
  line-height: normal;
  color: var(--blue-6, #84b1f0);
  text-decoration: none;
}

.character-indicator__change-character:visited {
  color: var(--blue-6, #84b1f0);
}

.character-indicator__change-character:hover {
  text-decoration: underline;
}

.horizontal-block {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}

.column__column-right {
  display: flex;
  width: 416px;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  align-items: initial;
}

@media (max-width: 1440px) {
  .horizontal-block {
    height: 70%;
  }
}

@media (max-width: 724px) {
  .horizontal-block {
    flex-direction: column;
  }

  .column__column-right {
    width: unset;
  }
}

@media (max-width: 525px) {
  .character-indicator__name-container {
    flex-direction: column;
    gap: 0px;
  }
}
