.header {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

.nav {
    display: flex;
    padding: 0px 4px;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;   
}

.character-indicator {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.character-indicator__name-container {
    align-items: baseline;
    display: flex;
    gap: 8px;
}

.character-indicator__name {
    font-weight: 700;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.character-indicator__image-container {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    border: solid 2px var(--blue-4, #F5F5F5);
}

.character-indicator__image {
    width: inherit;
}

.character-indicator__change-character {
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    color: var(--blue-6, #84B1F0);
    text-decoration: none;
}

.character-indicator__change-character:visited {
    color: var(--blue-6, #84B1F0);
}

.character-indicator__change-character:hover {
    text-decoration: underline;
}

.non-rollable-stats {
    display: flex;
    padding: 0px 24px;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

.non-rollable-stats__inner-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.non-rollable-stats__bounty-points {
    display: flex;
    align-items: center;
    gap: 8px;
}

.non-rollable-stats__wind-container {
    display: flex;
    gap: 8px;
}

.horizontal-block {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.character-sheet {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

.character-sheet__inner{
    display: grid;
    row-gap: 64px;
    column-gap: auto;
    flex: 1 0 0;
    align-self: stretch;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.stat-accent-color {
    color: var(--blue-6, #84B1F0);
}

.stat-set {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.stat-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.stat-group_roll-mode {
    max-width: 250px;
}

.stat-group_spend-mode {
    max-width: 280px;
}

.stat-group_knowledge{
    grid-column: 4;
    grid-row: 1 / 3;
}

.stat-group__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.stat-group__item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 8px;
}

.stat-group__item {
    display: flex;
    height: 23px;
    padding: 2px 4px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    border-radius: 4px;
}

.stat-group__item_attribute {
    padding-left: 16px;
}

.stat-group__item-non-rollable {
    display: flex;
    height: 23px;
    padding: 2px 4px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.stat-group__item_is-hoverable:hover {
    background-color: var(--blue-4, #142A48);
}

.stat-group__item:selected {
    background-color: red;
}

.stat-group__item-name {
    flex-grow: 1;
}

.stat-group__item_stat .stat-group__item-name {
    font-weight: 700;
}

.stat-group__item_stat .stat-group__item-die-info {
    font-weight: 700;
}

.stat-group__item_concentration {
    padding-left: 32px;
}