.header {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

.nav {
    display: flex;
    padding: 0px 4px;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;   
}

.header__character-name {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}



.header__character-image-container {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    border: solid 2px var(--blue-4, #F5F5F5);
}

.header__character-image {
    width: inherit;
}

.non-rollable-stats {
    display: flex;
    padding: 0px 24px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.non-rollable-stats__inner-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.horizontal-block {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.character-sheet {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

.character-sheet__inner{
    display: grid;
    row-gap: 64px;
    column-gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.stat-group {
    display: flex;
    /* width: 202px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.stat-group__item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.stat-group__list {
    display: flex;
    padding-left: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.stat-group__item {
    display: flex;
    height: 23px;
    padding: 2px 4px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.stat-group__item:hover {
    background-color: var(--blue-4, #142A48);
}

.stat-group__item_stat {
    font-weight: 700;
}

.stat-group__item_concentration {
    padding-top: 4px;
}