.home-view {
  overflow: scroll;
}
.welcome-text {
  display: flex;
  margin: 74px auto;
  gap: 6px;
  font-weight: 700;
  font-size: 24px;
  align-items: center;
}

.Rollr-logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background: var(--blue-3);
  padding: 4px 8px;
  border-radius: 4px;
  gap: 2px;
}

.Rollr-logo__rectangle-shape {
  background-color: orange;
  height: 8px;
  width: 8px;
  border-radius: 2px;
}

.Rollr-logo__rectangle-shape_animated {
  animation: 2.1s logo-rectangle-spin;
}

@keyframes logo-rectangle-spin {
  0% {
    rotate: 0deg;
  }

  5% {
    rotate: -35deg;
  }

  10% {
    rotate: -35deg;
  }

  75% {
    rotate: 1440deg;
  }
}

.character-grid-inner {
  margin: 48px 80px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.character-grid {
  flex: 1;
}

.character-grid a {
  text-decoration: none;
}

.character-card {
  font-family: Inter;
  font-style: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  border-radius: 4px;
  padding: 8px;
  max-width: 320px;
  min-width: 200px;
}

.character-card:hover {
  background-color: var(--blue-4);
}

.character-card__character-image {
  width: 100%;
  background-size: cover;
  border-radius: 4px;
  aspect-ratio: 1;
}

.character-card__character-name {
  color: white;
}
