.welcome-text {
  display: flex;
  margin: 74px auto;
  gap: 6px;
  font-weight: 700;
  font-size: 24px;
  align-items: center;
}

.Rollr-logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background: var(--blue-3);
  padding: 4px 8px;
  border-radius: 4px;
  gap: 2px;
}

.Rollr-logo__rectangle-shape {
  background-color: orange;
  height: 8px;
  width: 8px;
  border-radius: 2px;
}

.Rollr-logo__rectangle-shape_animated {
  animation: 2.1s logo-rectangle-spin;
}

@keyframes logo-rectangle-spin {
  0% {
    rotate: 0deg;
  }

  5% {
    rotate: -35deg;
  }

  10% {
    rotate: -35deg;
  }

  75% {
    rotate: 1440deg;
  }
}

.character-grid-inner {
  margin: 0 auto;
  max-width: 800px;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.character-grid {
  flex: 1;
}

.character-grid a {
  text-decoration: none;
}

.character-card {
  font-family: Inter;
  font-style: normal;
  line-height: normal;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 316px;
  margin: 18px;
  border-radius: 4px;
  overflow: hidden;

  padding: 8px;
}

.character-card:hover {
  background-color: var(--blue-4);

  /* -webkit-box-shadow:0px 0px 17px 3px rgba(132,177,240,1);
-moz-box-shadow: 0px 0px 17px 3px rgba(132,177,240,1);
box-shadow: 0px 0px 17px 3px rgba(132,177,240,0.5); */
}

.character-card__character-image {
  height: 300px;
  width: 100%;
  background-size: cover;
  border-radius: 4px;
}

.character-card__character-name {
  color: white;
}

/* .restaurant-delete-button button {
display: flex;
justify-content: flex-end;
background-color: lightcoral

} */
