.dice-section {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.roll-panel {
    display: flex;
    width: 400px;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}
/* .dice-section {
    display: grid;
    row-gap: 32px;
    column-gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
} */

.dice-section {
    justify-content: center;
    flex: 1 0 0;
}

.dice-section-inner {
    display: flex;
    gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: flex-start;
}

.dice-section__die-thread {
    display: flex;
}

.dice-section__die-thread-inner {
    display: flex;
    padding: 16px 4px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: flex-start;
    border-radius: 4px;
}

.dice-section__die-thread-inner_highest {
    background-color: #0E2950;
}

.dice-section_highest-roll-text {
    font-size: 12px;
    font-weight: 700;
}

.result-section {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    text-align: center;
}

.result-section__roll-result {
    font-size: 24px;
    font-weight: 700;
}

.result-section__bust-indicator {
    color: orange;
    padding: 16px 0;
    font-weight: 700;
}

.button-row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.button {
    display: flex;
    min-width: 64px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 4px;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button__button-primary {
    background: var(--buttons-button-blue, #004CB3);
    border: 2px solid var(--buttons-button-blue, #004CB3);
    color: #F5F5F5;
}

.button__button-primary:hover {
    background: #0060e8;
    border: 2px solid #0060e8;
    color: #FFFFFF;
}

.button__button-primary:disabled {
    background-color: #484660;
    border: 2px solid #484660;
    opacity: 75%;
}

.button__button-secondary {
    background: transparent;
    border: 2px solid var(--blue-6, #84B1F0);
    color: var(--blue-6, #84B1F0);
}

.button__button-secondary:hover {
    background: var(--blue-3, #142A48);
    color: var(--Gray-6, #F5F5F5);
}