.dice-section {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* .dice-section {
    display: grid;
    row-gap: 32px;
    column-gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
} */

.dice-section {
    justify-content: center;
    flex: 1 0 0;
}

.dice-section-inner {
    display: flex;
    gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: flex-start;
}

.dice-section__die-thread {
    display: flex;
}

.dice-section__die-thread-inner {
    display: flex;
    padding: 16px 4px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: flex-start;
    border-radius: 4px;
}

.dice-section__die-thread-inner_highest {
    background-color: #0E2950;
}

.dice-section_highest-roll-text {
    font-size: 12px;
    font-weight: 700;
}

.result-section {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    text-align: center;
}

.result-section__roll-result {
    font-size: 24px;
    font-weight: 700;
}

.result-section__bust-indicator {
    color: orange;
    padding: 16px 0;
    font-weight: 700;
}