.tipsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    gap: 1rem;
}

.tipsContainer h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.tipsContainer p {
    margin-block-start: 0;
    margin-block-end: 0;
}