:root {
  --blue-0: #000812;
  --blue-1: #010e22;
  --blue-2: #06162e;
  --blue-3: #142a48;
  --blue-4: #223e65;
  --blue-5: #43689b;
  --blue-6: #84b1f0;

  --Gray-6: #f5f5f5;

  --buttons-button-blue: #004cb3;
  --buttons-button-red: #980000;
  --buttons-button-white: #cccccc;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--Gray-6, #f5f5f5);
  background: var(--blue-0, #010914);
  overflow: hidden;
}

.hidden {
  display: none;
}

.view {
  display: flex;
  flex-direction: column;
  padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0)
    env(safe-area-inset-bottom, 16px) env(safe-area-inset-left, 0);
  height: 100vh;
}

.panel {
  border-radius: 4px;
  padding: 24px;
  background: var(--blue-1, #081932);
}

.panel__panel-right {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.panel-right__button-row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.text__centered {
  text-align: center;
}

h1 {
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button_fill-width {
  flex: 1 0 0;
}

.button_large {
  min-width: 64px;
  padding: 8px 16px;
}

.button_square {
  min-width: 16px;
  padding: 6px 10px;
}

.button__button-primary {
  background: var(--buttons-button-blue, #004cb3);
  border: 2px solid var(--buttons-button-blue, #004cb3);
  color: #f5f5f5;
}

.button__button-primary:hover {
  background: #0060e8;
  border: 2px solid #0060e8;
  color: #ffffff;
}

.button__button-primary:disabled {
  background-color: #484660;
  border: 2px solid #484660;
  opacity: 50%;
}

.button__button-secondary {
  background: transparent;
  border: 2px solid var(--blue-6, #84b1f0);
  color: var(--blue-6, #84b1f0);
}

.button__button-secondary:hover {
  background: var(--blue-3, #142a48);
  color: var(--Gray-6, #f5f5f5);
}

.button__button-secondary:disabled {
  color: #484660;
  border: 2px solid #484660;
  opacity: 75%;
}

.button__button-secondary:disabled:hover {
  background: transparent;
}

.button__button-tertiary {
  border-radius: 4px;
  background: var(--blue-4);
  border: solid 0px;
  color: var(--Gray-6);
  font-size: 12px;
}

.button__button-tertiary:hover {
  background: var(--blue-5);
}

.button__button-increment {
  padding-bottom: 2px;
  width: 40px;
  height: 24px;
  border-radius: 4px;
  background: var(--blue-3);
  border: 0 transparent;
  color: var(--blue-6);
  font-weight: 900;
}

.button__button-increment:hover {
  background: var(--blue-5);
  color: var(--Gray-6);
}

.divider__horizontal {
  width: 100%;
  border-top: 1px solid var(--blue-4);
}

.footer {
  text-align: center;
  padding: 24px;
  color: var(--blue-6);
}
